<div class="page-header">
  <%= link_to drinks_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_drink_path(@drink), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show drink</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @drink.name %></dd>

  <dt>Price:</dt>
  <dd><%= @drink.price %></dd>

  <dt>Memo:</dt>
  <dd><%= @drink.memo %></dd>

  <dt>Image:</dt>
  <dd><%= @drink.image %></dd>

</dl>
